C-Practice/test1
C-Practice/test2
C-Practice/test3
C-Practice/test4
C-Practice/floatTest
C-Practice/core.904
C-Practice/final
C-Practice/core.850
C-Practice/core.890
C-Practice/constant
C-Practice/a.out
C-Practice/PrintValues
C-Practice/Casting-2
C-Practice/CastTest
C-Practice/Cast
C-Practice/Casting
C-Practice/Structs1
C-Practice/Test
